block vars
doctype html
html(lang='en')
  head
    link(rel='stylesheet' href=`/css/main.min.css`)
    block script
  body(class=bodyClass)
    header.header-main
      h1.pull-left
        a(href='/') DAPP Identity Server
      nav.top-nav(role='navigation')
        ul.list-unstyled.list-inline
          if (authenticated_user && authenticated_user.name)
            li #{authenticated_user.name}
            li
              form(action='/logout' method='post')
                input(type='hidden' name='crumb' value=crumb)
                input.button(type='submit' value='Log out')
          else if (!authenticated_user)
            li
              a.button(href='/login') Log in
    div(class='container content')
      block content
